{
  "presets": [['@babel/preset-env', {
    "target": {
      "chreome": '67'
    },
    "useBuiltIns": 'usage'
  }]]
}


/*
{
  "plugins": [["@babel/plugin-transform-runtime", {
    "corejs": 2,
    "helper": true,
    "regenerator": true,
    "useESModules": false
  }]]
}
*/
